body {
    padding-top: 50px;
}
.padding-10 {
    padding: 10px 10px 10px 10px;
}
.margin-l20 {
    margin-left: 20px;
}
.table-as-list-group-item {
    margin-top: 20px;
}
.section {
    margin-top: 30px;
}
.table-nonfluid {
    width: auto !important;
}